body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  color: #333;
  margin: 0;
  padding: 20px;
}

.header-container {
  background-color: #3f51b5;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1 {
  color: #ffffff;
  margin: 0;
}

.header-subtitle {
  color: #ffffff;
  margin: 10px 0 0;
}

h2 {
  color: #6F42C1;
  margin: 0 0 10px;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.article-item {
  background-color: #e0f7fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.article-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.publish-date {
  color: #777;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
}

.read-more-link {
  display: inline-block;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #007bff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.read-more-link:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.9);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.fetch-non-us-articles-button {
  display: block;
  margin: 20px auto;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
}

.fetch-non-us-articles-button:hover {
  background-color: #218838;
}

.button-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container, .date-search-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

input[type="text"], input[type="date"] {
  padding: 5px;
  margin-right: 10px;
}

.random-article-container {
  display: flex;
  align-items: center;
}

.random-article-button {
  margin-right: 15px;
}

@media (max-width: 600px) {
  .article-list {
    grid-template-columns: 1fr;
  }

  .button-search-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container, .date-search-container {
    margin-left: 0;
    margin-top: 10px;
  }

  .random-article-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
